body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #loginButton {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .password-container {
    display: flex;
    align-items: center;
  }
   
  
  .toggle-password {
    position: relative;
    margin-left: -30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #555;
  }
  
  .error-message {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .signup-link a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  